{% extends 'users/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Social Wokers <br> Chairperson Remarks </h1>
                  <p id="header-paragraph">Our History <br>The Kenya National Association of Social Workers (KNASW) plays a crucial role in advocating for the rights, well-being, and social justice of individuals, families, and communities. The association engages in various advocacy efforts to influence policies, programs, and practices that impact the social work profession and the populations it serves. These advocacy efforts may involve lobbying government bodies, engaging in public awareness campaigns, collaborating with other stakeholders, and participating in policy development processes. The KNASW aims to promote positive social change, address systemic issues, and ensure that the voices of social workers and their clients are heard in decision-making processes.
                      <br><br>Ways in Which Members Can Contribute to Advocacy Efforts: Members of the KNASW have a vital role to play in contributing to advocacy efforts. Here are some ways in which members can actively engage in advocacy:
                      <br><br>Stay Informed: Members should stay informed about social, economic, and political issues that affect the profession and the communities they serve. Keeping up-to-date with research, policy developments, and current events allows social workers to effectively advocate for positive change.
                      <br><br>Engage in Policy Discussions: Members can actively participate in policy discussions and contribute their expertise and perspectives to shape policies that promote social justice and equitable outcomes. This can involve providing input during public consultations, joining policy committees, or engaging with government representatives.
                      <br><br>Collaborate with Stakeholders: Members can collaborate with other professionals, organizations, and community groups to advocate for common goals and leverage collective power. Building coalitions and partnerships strengthen advocacy efforts and amplify the impact of social workers' voices.
                      <br><br>Advocate for Clients: Social workers can be powerful advocates for their clients by ensuring their voices are heard, their rights are protected, and their needs are met. This can involve advocating for improved access to services, fair treatment, and policies that address the root causes of social issues.
                      <br><br>Public Awareness and Education: Members can contribute to advocacy efforts by raising public awareness about social issues, challenging misconceptions, and promoting a deeper understanding of the value and impact of social work. This can be done through public speaking engagements, media interviews, or community education initiatives.</p>
                  <a class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Discover More</a>
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
              </div>
    </div>
{% endblock content %}