{% extends 'users/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Membership <br> Eligibility</h1>
                  <p id="header-paragraph">Our History <br>The Association is composed of individuals whose application has been approved under any of the various membership categories as follows:
                      <br><br>4.1 Founder membership: those who are actively involved in the establishment of the association are the founder members: Fees: Ksh. 10,000annual subscription Fee: Ksh. 5,000.
                      <br><br>4.2 General membership: General membership can be issued to those persons who can contribute to achieve the organization's objectives .General membership is open to qualified social workers .Fees K.Shs 5,000 annual subscription K.Shs .3,000.
                      <br><br>4.3 Lifetime members: Lifetime membership can be granted to the aggregated amount of money slated in the constitution.
                      <br><br>4.4 Honorary membership: Persons who assist the Association to meet its goals whom the Association thinks are important and who made contribution to the Association, can be issued honorary membership as per the decision made by the Executive committee.
                      <br><br>4.5 Full membership: Full membership shall be open to all graduates of two year certificate, diploma or degrees from any accredited school of social work and people with recognized training in related discipline i.e. Case work, Group work /Community work on payment of entrance of K.Shs .1, 000 and annual subscription of K.Shs 1,500.
01
MEMBERSHIP 4.6 Associate Membership: Associate Membership shall be pen to persons; (a) Who have engaged in social work practice for a period or more than 3 years and who may not necessarily have acquired professional training. (b) Who have interest and are supporters of s0cialwork profession and activities and may not be social workers by profession .Any members in (a) and (b) shall so qualify upon a payment of a registration fees Ksh. 5,000 and a n annual subscription of Ksh. 3,000.
                      <br><br>4.7 Student Membership :Student membership shall be open to those pursuing studies leading to the award of social work certificate ,diploma or degree in all accredited school of social w
                      <br><br>4.8 Corporate Membership: Shall refer to institutions that may have interest in pursuing the Association’s goals in all manner possible and will make individual contributions at the rate of a minimum of Ksh.100, 000.
CONTACT  </p>
                  <a class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Discover More</a>
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
              </div>
    </div>
{% endblock content %}